<html>

    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <title><%= title %></title>
    </head>

    <body>
        <div class="container">
          <h1>About</h1>
          <p>Established in August of 2008, <strong>Airbnb</strong> is an American online platform that has been largely used worldwide for vacation purposes.</p>
          <p>The online marketplace offers a service catered for vacationers seeking for hotel alternatives. Airbnb opens interactions between homeowners looking to open their doors for customers to rent out their place for a certain amount of time. It's a type of business model that benefits all the stakeholders: customers get a wider array of choices for their accomodations, homeowners get to earn by offering bed and breakfast services, and the company profits off of commissions from the homeowners as well as other commercial profits.</p>

          <hr>
          <p><i>This web application was developed by Anjelo Antioquia, Gabriel Minamedez, Joshua Ranjo, and Julian Sunpayco of S12 in partial fulfillment of the course STADVDB.</i></p>
          <hr>

          <h2>The Data</h2>
          <p>This web application will return data from the <a target="_blank" href="https://www.kaggle.com/dgomonov/new-york-city-airbnb-open-data">New York City Airbnb Open Dataset</a>.</p>
          <p>The data centers around 40,000+ Airbnb listings and metrics in the New York City area in 2019. Each row in the data corresponds to a listing, with columns indicating details such as name, host name, and the like to contextualize each listing.</p>
          <p>Using ETL, the data was then loaded in a MySQL data warehouse for this web application to communicate to. This big dataset was split into 6 tables; <b>one fact table</b>, which is the <b>listings table</b>, and <b>five dimension tables</b>: <b>locations, neighbourhoods, neighbourhood groups, hosts and room_types</b>. Below is a visualization of the final database design:</p>
          <img id="dbDesign" src="/images/db_design.png">
          <p>Below are query prompts for the data according to the four variants of OLAP queries. Have fun!</p>
          <hr>

          <h2>OLAP Queries</h2>
          <p>There are four OLAP queries in total: <b>roll-up, drill-down, slice, and dice</b>. Each OLAP query has a corresponding query prompt specific to the purposes of the dataset. Feel free to click on each query prompt to determine the results with the use of their corresponding OLAP query.</p>

          <h4>Roll-Up</h4>
          <ul>
            <li><p><a target="_blank" href="/query1">Get a breakdown of the total price for each year in every room type in a given neighbourhood group.</a></p></li>
          </ul>

          <h4>Drill-Down</h4>
          <ul>
            <li><p><a target="_blank" href="/query2">Get the average price for each year in every room type grouped by neighbourhood group.</a></p></li>
          </ul>

          <h4>Slice</h4>
          <ul>
            <li><p><a target="_blank" href="/query3">Get the average reviews per month of each neighbourhood in a given year last reviewed.</a></p></li>
          </ul>

          <h4>Dice</h4>
          <ul>
            <li><p><a target="_blank" href="/query4">Get average price of a given last review year in two different neighborhoods for comparison.</a></p></li>
          </ul>
        </div>
    </body>

</html>